@using Domain;
@using Service.Helpers;
@model List<TourTheme>
@if (Model != null && Model.Count > 0)
{
    string[] theme = Protector.String(ViewBag.HotelTheme).Split(',');
    <h1>
        Tôi quan tâm đến</h1>
    using (Html.BeginForm("ApartmentThemePost", "Province", new { provinceName = ViewBag.ProvinceName, type = ViewBag.HotelType, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate }, FormMethod.Post, new { id = "HotelThemePost" }))
    {
    <div class="boxContent">
        <table>
            @foreach (TourTheme item in Model)
            {
                <tr>
                    <td>
                        @if (theme != null && theme.Length > 0 && theme.Contains(item.ApartmentThemeID.ToString()))
                        {
                            <input type="checkbox" checked ="checked"  name="ApartmentThemeID" id="ApartmentThemeID" value="@item.ApartmentThemeID" />
                        }
                        else
                        {
                            <input type="checkbox" name="ApartmentThemeID" id="ApartmentThemeID" value="@item.ApartmentThemeID" />
                        }
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </table>
    </div>
    }
    <script type="text/javascript">
        $(":checkbox[id='ApartmentThemeID']").click(function () {
            $("#ApartmentThemePost").submit();
        });
    </script>
}
