@using Domain;
@using Service.Helpers;
@model List<TourType>
@if (Model != null && Model.Count > 0)
{

    string[] type = Protector.String(ViewBag.HotelType).Split(',');
    <h1>
        Loại Căn Hộ</h1>
    using (Html.BeginForm("ApartmentTypePost", "Province", new { provinceName = ViewBag.ProvinceName, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate }, FormMethod.Post, new { id = "HotelTypePost" }))
    {
    <div class="boxContent" id="hoteltype">
        <table>
            @foreach (TourType item in Model)
            {
                <tr>
                    <td>
                        @if (type != null && type.Length > 0 && type.Contains(item.ApartmentTypeID.ToString()))
                        {
                            <input type="checkbox" checked ="checked"  name="ApartmentTypeID" id="ApartmentTypeID" value="@item.ApartmentTypeID" />
                        }
                        else
                        {
                            <input type="checkbox" name="ApartmentTypeID" id="ApartmentTypeID" value="@item.ApartmentTypeID" />
                        }
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </table>
    </div>
    }
    <script type="text/javascript">
        $(":checkbox[id='ApartmentTypeID']").click(function () {
            $("#ApartmentTypePost").submit();
        });
    </script>
}
