@using Domain;
@using Service.Helpers;
@{ int filter = Protector.Int(ViewBag.Filter);}
@using (Html.BeginForm("FilterPost", "Province", new { provinceName = ViewBag.ProvinceName, type = ViewBag.HotelType, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, theme = ViewBag.HotelTheme, district = ViewBag.District, area = ViewBag.Area, comfort = ViewBag.Comfort, star = ViewBag.Star, price = ViewBag.Price }, FormMethod.Post, new { id = "FilterPost" }))
{
    <select class="filter" id="FilterID" name="FilterID">
        @switch (filter)
        {
            case 1:
            <option value="0">Sắp xếp theo</option>
            <option value="1" selected="selected">Tên</option>
            <option value="2">Giá</option>
                break;
            case 2:
            <option value="0">Sắp xếp theo</option>
            <option value="1">Tên</option>
            <option value="2" selected="selected">Giá</option>
                break;

            default:
            <option value="0" selected="selected">Sắp xếp theo</option>
            <option value="1">Tên</option>
            <option value="2">Giá</option>
                break;


        }
    </select>
    <script type="text/javascript">
        $(".filter").change(function () {
            $("#FilterPost").submit();
        });
    </script>
}