.thebg{
	background-image: none;
	background-color: #0a84c1;
}
.breadcrub a{
	color: #fff !important;
}
.booknow, .btn-search4{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar{
	z-index: 2;
}
.affix {
	position: fixed; 
	top: 0px;
}
.cstyle10{
	background: #e65229;
}
.nav-tabs > li{
	background: #e65229;
	border-right-color: #fff;
}
.nav-tabs > li > a:hover{
	background: #fff;
	color: #333;
}
.affix-bottom {
	position: static;
}
.affix-bottom {
  position: absolute;
}
.tab-content{
	height: auto;
}
#map-canvas{
	display: block;
}
.price-compare{
	
}
.add-portfolio {
  overflow: hidden;
  margin-bottom: 30px;
  background: #f0f6fa;
  padding: 12px 14px;
}

.add-portfolio span {
  float: left;
  display: inline-block;
  font-weight: 300;
  font-size: 22px;
  margin-top: 0px;
}

.add-portfolio .btn {
  margin-left: 20px;

}

/*portfolio block*/
.portfolio-block {
  background: #f7f7f7;
  overflow: hidden;
  padding: 0;
  margin: 0 0 15px;
}
.portfolio-block .col-md-2{
	padding: 0;
}
.portfolio-stat {
  overflow: hidden;
}

/*portfolio text*/
.portfolio-text {
  overflow: hidden;
}

.portfolio-text img {
  float: left;
  margin-right: 15px;
}

.portfolio-text .portfolio-text-info {
  overflow: hidden;
}

/*portfolio button*/
.portfolio-btn a {
  display: block;
  padding: 0;
  background: #3276b1;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.portfolio-btn a:hover {
  background: #357ebd;
}

.portfolio-btn span {
  color: #fff;
  font-size: 17px;
  font-weight: 200;
}

/*portfolio info*/
.portfolio-info {
  float: left;
  color: #616161;
  font-size: 12px;
  padding: 10px 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.portfolio-info span {
  color: #16a1f2;
  display: block;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0px;
  font-weight: 200;
  text-transform: uppercase;
}

/*portfolio settings*/
.profile-settings {
  background: #fafafa;
  padding: 15px 8px 0;
  margin-bottom: 5px;
}

.profile-settings p {
  padding-left: 5px;
  margin-bottom: 3px;
}
