@{
    Layout = "~/Views/Shared/_News.cshtml";
    ViewBag.Title = "Vietrip Travel";
}
<ul class="breadcrum">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url">
        <span itemprop="title">Trang Chủ</span> </a>› </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/lien-he/"
        itemprop="url"><span itemprop="title">Liên Hệ</span> </a></li>
</ul>
<div class="tab2_content">
    <div class="formBox tab2_description">
        Cảm ơn quý khách đã gửi thông tin. Chúng tôi sẽ liên lạc trong thời gian sớm nhất.
        Trường hợp khẩn cấp vui lòng gọi điện thoại trực tiếp để được hỗ trợ.
    </div>
</div>
