@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="heading">
        <h1>
            <img alt="" src="/Content/Administrator/Images/category.png">
            Đổi Mật Khẩu</h1>
        <div class="buttons">
        </div>
    </div>
    <div class="content">
        <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
            clear: both;">
            Đổi Mật Khẩu Thành Công
        </div>
    </div>
</div>
