@model  Domain.User
<div class="rfloat">
    <ul class="logout">
        <li><a href="/">Trang Chủ</a></li>
        <li><a href="/Administrator/User/Edit/@Model.UserID">@Model.Email</a></li>
        <li>
            @using (Html.BeginForm("SignOut", "User"))
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#logout").click(function () {
                            $("form").submit();
                        });
                    });
                </script>
                <a id="logout">Thoát</a>
            }
        </li>
    </ul>
</div>
