@model IEnumerable<Domain.Category>
@using Service.Helpers;
@using Domain;
@if (Model != null)
{
    <ul style="display: none; visibility: hidden;">
        @foreach (Category item in Model)
        {
            <li><a href="@item.AdminUrl">@item.Name.Replace("-", "")</a> </li>
        }
    </ul>
}