@using Website.Model.Tour
@{
    var breadcrumDics = ViewData["Breabcrumb"] == null ? null : (List<Breadcrumb>)ViewData["Breabcrumb"];
}
<div class="container breadcrub">
	<div>
		<a class="homebtn left" href="@Url.Action("Index","Home")"></a>
        <div class="left">
            <ul class="bcrumbs">
            @if(breadcrumDics != null)
            {
                foreach (var breadcrumb in breadcrumDics)
                {
                    if(breadcrumb.Key != "Home")
                    {
                        <li>/</li>
                    }
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="title" href="@breadcrumb.Url">@breadcrumb.Display</a></li>
                }
            }
            </ul>				
        </div>
		<a class="backbtn right" href="@Url.Action("Index","Home")"></a>
	</div>
	<div class="clearfix"></div>
	<div class="brlines"></div>
</div>	