@model  Website.Models.Captcha.InvisibleCaptcha
<div style="display:none;">
    <div class="editor-label">
        @Html.LabelFor(model => model.InvisibleCaptchaValue)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.InvisibleCaptchaValue)
        @Html.ValidationMessageFor(model => model.InvisibleCaptchaValue)
    </div>
</div>