@using Service.Helpers
@using Domain
@model List<Social>
@if (Model != null && Model.Count > 0)
{

    foreach (Social item in Model)
    {  
    <a href="@item.Link" target="_blank" title="@item.Name">
        <img src="@FileHelper.GetSocial_Picture(item.ICon, item.ID)" alt="@item.Description"  /></a>
    }
    <br />
      
}