<div class="col-md-8 pagecontainer2 offset-0">
	<div class="cstyle10"></div>
				
	<ul id="sidebar"class="nav nav-tabs sidebar" data-spy="affix" data-offset-top="760" data-offset-bottom="200">
		<li class="active"><a href="#price"><span class="hidetext"> Giá</span>&nbsp;</a></li>
		<li><a href="#maps"><span class="hidetext"> Bản đồ</span>&nbsp;</a></li>
		<li class=""><a href="#schedules"><span class="hidetext"> Hành trình</span>&nbsp;</a></li>
		<li class=""><a href="#comment"><span class="hidetext"> Nhận xét</span>&nbsp;</a></li>
		<li class=""><a href="#thingstodo"><span class="hidetext"> Dịch vụ & Tiện ích gần đây</span>&nbsp;</a></li>

	</ul>			
	<div class="tab-content" >
		<!-- TAB 2 -->
		<div id="price" style="display: block;">
			<h1>Giá</h1>
			<div class="line2"></div>
			<div class="row portfolio-block">
				<div class="col-md-5" style="padding: 0">
					<div class="portfolio-text">
						<img src="http://ncmir.ucsd.edu/images/NIGMS-logo.jpg" alt="">
						<div class="portfolio-text-info">
							<h4><a href="">AdventureLink.Com</a></h4>
						</div>
					</div>
				</div>
				<div class="col-md-5 portfolio-stat">
					<div class="portfolio-info">
							Thời gian tour <span>
						3N2D </span>
					</div>
					<div class="portfolio-info">
							Giá <span>
						5Tr </span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="portfolio-btn">
						<a href="#" class="btn bigicn-only">
						<span>
						Xem </span>
						</a>
					</div>
				</div>
			</div>
			<div class="row portfolio-block">
				<div class="col-md-5" style="padding: 0">
					<div class="portfolio-text">
						<img src="http://www.aboutschwab.com/images/logo_2013.png" alt="">
						<div class="portfolio-text-info">
							<h4><a href="">Flocations.Com</a></h4>
						</div>
					</div>
				</div>
				<div class="col-md-5 portfolio-stat">
					<div class="portfolio-info">
							Thời gian tour <span>
						2N2D </span>
					</div>
					<div class="portfolio-info">
							Giá <span>
						3Tr </span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="portfolio-btn">
						<a href="#" class="btn bigicn-only">
						<span>
						Xem </span>
						</a>
					</div>
				</div>
			</div>
			<div class="row portfolio-block">
				<div class="col-md-5" style="padding: 0">
					<div class="portfolio-text">
						<img src="http://www.lpgsystems.com/common/img/LPGFINALglossy.jpg" alt="">
						<div class="portfolio-text-info">
							<h4><a href="">VietTrip.Vn</a></h4>
						</div>
					</div>
				</div>
				<div class="col-md-5 portfolio-stat">
					<div class="portfolio-info">
							Thời gian tour <span>
						4N3D </span>
					</div>
					<div class="portfolio-info">
							Giá <span>
						6Tr </span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="portfolio-btn">
						<a href="#" class="btn bigicn-only">
						<span>
						Xem </span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<strong style="color: #f00;">Email: </strong>tung.dang@vietrip.vn<br/>
					<strong style="color: #f00;">Hỗ trợ: </strong>(083) 5173083 - (083) 3517 0183 - 0913199206
				</div>
			</div>
			<div class="line4"></div>								
		</div>
					
		<!-- TAB 3 -->					
		<div id="maps" style="display: block;">
			<h1>Bản Đồ</h1>
			<div class="line2"></div>
			<div class="hpadding20">
				<div id="map-canvas"></div>
			</div>		
			<div class="line4"></div>							
		</div>
					
		<!-- TAB 4 -->					
		<div id="schedules" style="display: block;text-align:justify">
			<h1>Hành Trình</h1>
			<div class="line2"></div>
			<p class="hpadding20">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor aliquam felis, sit amet tempus nibh ullamcorper nec. Maecenas suscipit dolor at blandit congue. Sed adipiscing, odio feugiat pellentesque tincidunt, est leo vestibulum erat, ac pharetra massa justo ac lorem. 
			</p>
			<p style="text-align: center">
				<img width="500" src="custom/p2.jpg"/>
			</p>
			<p class="hpadding20">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor aliquam felis, sit amet tempus nibh ullamcorper nec. Maecenas suscipit dolor at blandit congue. Sed adipiscing, odio feugiat pellentesque tincidunt, est leo vestibulum erat, ac pharetra massa justo ac lorem. 
			</p>
			<p style="text-align: center">
				<img width="500" src="custom/p3.jpg"/>
			</p>
			<p class="hpadding20">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor aliquam felis, sit amet tempus nibh ullamcorper nec. Maecenas suscipit dolor at blandit congue. Sed adipiscing, odio feugiat pellentesque tincidunt, est leo vestibulum erat, ac pharetra massa justo ac lorem. 
			</p>
			<p style="text-align: center">
				<img width="500" src="custom/p4.jpg"/>
			</p>
			<p class="hpadding20">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor aliquam felis, sit amet tempus nibh ullamcorper nec. Maecenas suscipit dolor at blandit congue. Sed adipiscing, odio feugiat pellentesque tincidunt, est leo vestibulum erat, ac pharetra massa justo ac lorem. 
			</p>
			<p style="text-align: center">
				<img width="500" src="custom/p5.jpg"/>
			</p>
			<p class="hpadding20">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor aliquam felis, sit amet tempus nibh ullamcorper nec. Maecenas suscipit dolor at blandit congue. Sed adipiscing, odio feugiat pellentesque tincidunt, est leo vestibulum erat, ac pharetra massa justo ac lorem. 
			</p>
			<div class="line4"></div>		
		</div>
					
		<!-- TAB 5 -->					
		<div id="comment" style="display: block;">
			<h1>Nhận Xét</h1>
						
			<div class="line2"></div>
			<div class="hpadding20">
				<div class="col-md-4 offset-0">
					<span class="opensans dark size60 slim lh3 ">4.5/5</span><br/>
					<img src="images/user-rating-4.png" alt=""/>
				</div>
				<div class="col-md-8 offset-0">
					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-success wh75percent" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">4.5 của 5</span>
						</div>
					</div>		
					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-success wh100percent" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">100% đánh từ khách hàng</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>			
				<div class="clearfix"></div>
				<br/>
			</div>
						
			<div class="line2"></div>
						
			<div class="hpadding20">							
				<div class="col-md-4 offset-0 center">
					<div class="padding20">
						<div class="bordertype5">
							<div class="circlewrap">
								<img src="images/user-avatar.jpg" class="circleimg" alt=""/>
								<span>4.5</span>
							</div>
							<span class="dark">bởi Sena</span>
						</div>
									
					</div>
				</div>
				<div class="col-md-8 offset-0">
					<div class="padding20">
						<span class="opensans size16 dark">Great experience</span><br/>
						<span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br/>
						<p>Excellent hotel, friendly staff would def go there again</p>	
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
							
			<div class="line2"></div>
						
			<div class="hpadding20">	
				<div class="col-md-4 offset-0 center">
					<div class="padding20">
						<div class="bordertype5">
							<div class="circlewrap">
								<img src="images/user-avatar.jpg" class="circleimg" alt=""/>
								<span>4.5</span>
							</div>
							<span class="dark">bởi Sena</span>
						</div>
									
					</div>
				</div>
				<div class="col-md-8 offset-0">
					<div class="padding20">
						<span class="opensans size16 dark">Great experience</span><br/>
						<span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br/>
						<p>The view from our balcony in room # 409, was terrific. It was centrally located to everything on and around the port area. Wonderful service and everything was very clean. The breakfast was below average, although not bad. If back in Zante Town we would stay there again.</p>	
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
							
			<div class="line2"></div>
							
			<div class="hpadding20">	
				<div class="col-md-4 offset-0 center">
					<div class="padding20">
						<div class="bordertype5">
							<div class="circlewrap">
								<img src="images/user-avatar.jpg" class="circleimg" alt=""/>
								<span>4.5</span>
							</div>
							<span class="dark">bởi Sena</span>
						</div>
									
					</div>
				</div>
				<div class="col-md-8 offset-0">
					<div class="padding20">
						<span class="opensans size16 dark">Great experience</span><br/>
						<span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br/>
						<p>It is close to everything but if you go in the lower season the pool won't be ready even though the temperature was quiet high already.</p>	
					</div>
				</div>
				<div class="clearfix"></div>							
			</div>	
						
			<div class="line2"></div>
			<br/>
			<br/>
			<div class="hpadding20">
				<span class="opensans dark size16 bold">Đánh giá</span>
			</div>
						
			<div class="line2"></div>

			<div class="wh66percent offset-0">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-4 control-label"></label>
							<div class="col-sm-8">
								<div class="layout-slider wh100percent">
									<span class="cstyle09"><input id="price-range" type="slider" name="price" value="1;3" /></span>
								</div>
								<script type="text/javascript" >
									jQuery("#price-range").slider({ from: 1, to: 5, step: 1, smooth: true, round: 0, dimension: "&nbsp;", skin: "round" });
								</script>
							</div>
						</div>
						<div class="form-group">
						<label class="col-sm-4 control-label">Tên</label>
						<div class="col-sm-8">
							<input type="text" class="form-control margtop10" placeholder="">
						</div>
						</div>
						<div class="form-group">
						<label class="col-sm-4 control-label">Nội dung</label>
						<div class="col-sm-8">
							<textarea class="form-control margtop10" rows="3"></textarea>
						</div>
						</div>
						<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn-search4 margtop20">Nhận xét</button>	
						</div>
						</div>
					</form>
			</div>
			<div class="clearfix"></div>
			<div class="line4"></div>		
			<div class="clearfix"></div>
						
		</div>		
					
		<!-- TAB 6 -->					
		<div id="thingstodo" style="display: block;">
			<h1>Dịch Vụ & Tiện Ích Gần Đây</h1>
						
			<div class="line2"></div>
						
			<div class="padding20">
				<div class="col-md-4 offset-0">
					<a href="#"><img src="images/items2/item5.jpg" alt="" class="fwimg"/></a>
				</div>
				<div class="col-md-8 offset-0">
					<div class="col-md-12 mediafix1">
						<span class="opensans dark size16 margtop1 margtop-5">Porto Limnionas Beach</span><br/>
							<span class="green">“Just Great!!!”</span> 08/27/2013<br/>
							<p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="line2"></div>		

			<div class="padding20">
				<div class="col-md-4 offset-0">
					<a href="#"><img src="images/items2/item6.jpg" alt="" class="fwimg"/></a>
				</div>
				<div class="col-md-8 offset-0">
					<div class="col-md-12 mediafix1">
						<span class="opensans dark size16 margtop1 margtop-5">Marathonissi (Turtle Island), Laganas</span><br/>									
							<span class="green">“Beautiful”</span> 08/27/2013<br/>
							<p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="line2"></div>		

			<div class="padding20">
				<div class="col-md-4 offset-0">
					<a href="#"><img src="images/items2/item7.jpg" alt="" class="fwimg"/></a>
				</div>
				<div class="col-md-8 offset-0">
					<div class="col-md-12 mediafix1">
						<span class="opensans dark size16 margtop1 margtop-5">Navagio Beach (Shipwreck Beach)</span><br/>											
							<span class="green">“like being on a tropical island”</span> 08/27/2013<br/>
							<p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="line2"></div>		

			<div class="padding20">
				<div class="col-md-4 offset-0">
					<a href="#"><img src="images/items2/item8.jpg" alt="" class="fwimg"/></a>
				</div>
				<div class="col-md-8 offset-0">
					<div class="col-md-12 mediafix1">
						<span class="opensans dark size16 margtop1 margtop-5">Blue Caves</span><br/>										
							<span class="green">“A must see”</span> 08/27/2013<br/>
							<p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="line2"></div>
        </div>						
        <div class="clearfix"></div>	
    </div>
</div>