@using Service.Helpers
@using Domain
@model List<Province>
<nav>
@if (Model != null && Model.Count > 0)
{


        	<ul>
            @foreach (Province item in Model)
            {
            <li><a href="@UrlHelp.getProvinceUrl(item.National.Name, item.Url, item.ID)" title="@item.Name - @item.National.Name">@item.Name</a></li>
            }
            </ul>
  
}    
  </nav>
