@using Domain;
@using Service.Helpers;
@model Config
@if (Model != null)
{
    
    <div class="logo">
        <a href="/">
            <img src="@FileHelper.GetConfig_Picture(Model.Value, Model.ID)" alt="Căn Hộ du Lịch" title="Logo Căn Hộ du Lịch" /></a></div>
   
    
}
