@{
    ViewBag.Title = "Cpanel";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="uiHeader mhl">
    <h2 class="uiHeaderTitle">
    </h2>
</div>
<div class="pal grayArea uiBoxGray noborder" id="AdminMenuList">
</div>
