@using Domain;
@using Service.Helpers
@model Website.Models.Order.OrderResultModel
@{
    Layout = "~/Views/Shared/Order.cshtml";
    if (Model != null)
    {
        ViewBag.Title = Protector.String(Model.PageTitle);
        ViewBag.Description = Protector.String(Model.Description);
        ViewBag.KeyWords = Protector.String(Model.Keyword);
    }
    
}
<div class="search_key">
    <div class="order-hotel-detail-result">
        @Html.Raw(Model.Html)
        <div class="order-hotel-detail-result-button">
            <a href="/">
                <img src="/Content/FrontEnd/images/button-trang-chu.jpg" />
            </a><a href="/Order/ViewOrder?orderID=@Model.OrderID" target="_blank" >
                <img src="/Content/FrontEnd/images/button-xem-booking.jpg" /></a>
        </div>
    </div>
</div>


